#container-signup{
    display: grid;
    grid-template-rows: 20% 80%;
    grid-row-gap: 10%;
    margin: 20%;
    margin-top: 10%;
    padding: 10%;
    border: 1px solid white;
    color: white;
}

.user-entry{
    display: grid;
    grid-template-columns: 40% 60%;
}

.error-user-entry{
    font-size: 10px;
    margin-top: 2% ;
    margin-right: 25%;
    margin-bottom: 0%;
    border: 1px solid blue;
    background-color: red;
    color: black;
}

#container-signup > .row > a{
    text-decoration: none;
    background-color: white;
    color: black;
}

#container-signup > .row > a:hover{
    background-color: red;
    
}